.metAnHistoricoPage {
  width: 100vw;
  height: 100vh;
}

.containerAnamneseEM {
  width: calc(100% - 30px);
  margin: 30px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerAnamneseEM span {
  margin-bottom: 10px;
}

.elementAnamnese1 {
  display: flex;
  width: 90%;
  margin-top: 20px;
}

.fieldAnamneseRight,
.fieldACO {
  width: 50%;
  display: flex;
  align-items: center;
}

.fieldAnamneseLeft {
  width: 50%;
}

.fieldAnamneseLeft span {
  width: 100%;
}

.textAnamnese {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

span {
  font-weight: bold;
}