.metDTOPage {
    width: 100vw;
    height: 100vh;
}

.metOcorrenciasPageD {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerDTO {
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .containerDecisaoTransporte {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 60px;
  }
  
  .spanOjetos {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .metTitleLong {
    text-align: center;
  }