.MenuPage {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .menuOcorrencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .MenuPageHeader img {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
  
  .MenuPageHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .cardMenu {
    align-items: center;
    width: 300px;
    height: 200px;
    margin-left: 1rem;
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background: #efefef;
  }
  
  .cardMenuBottom {
    height: 230px;
  }
  
  .infosMenu ul {
    margin-right: 2rem;
  }
  
  .infosMenu li {
    list-style: none;
  }
  
  .avatarCardMenu img {
    padding: 10px;
    width: 100px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  